<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apartment edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.min.js"></script>

<body>
<header th:insert="~{fragments/header.html :: header}"></header>

<div class="container mt-5">
    <h1>Edit an announcement</h1>
    <div th:each="el : ${apartment}">
    <form method="post" th:action="@{'/stays/' + ${el.id} + '/update'}" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Name of apartments</label>
            <input type="text" th:value="${el.name}" class="form-control" name="nameApartments">
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" >Description</label>
            <textarea class="form-control" name="description" rows="4" th:text="${el.description}"/>

        </div>
        <h3>Address of apartments</h3>
        <div class="mb-3">
            <input class="form-control form-control-lg" type="text" th:value="${el.country}" name="country">
        </div>
        <div class="mb-3">
            <input class="form-control form-control-lg" type="text" th:value="${el.city}" name="city">
        </div>
        <div class="mb-3">
            <input class="form-control form-control-lg" type="text" th:value="${el.street}" name="street">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price per night</label>
            <input type="text" class="form-control"  id="price" name="price" th:value="${el.price}">
        </div>


        <div class="mb-3">
            <label for="photo" class="form-label">Photo of apartments</label>
            <input type="file" class="form-control" id="photo" name="photo">
        </div>

        <div class="text-center">
            <button class="w-20 btn btn-success " type="submit">Update</button>
        </div>

    </form>
    </div>
</div>
<div th:insert="~{fragments/footer.html :: footer}"> </div>
</body>
</html>